/*Fondo*/
html {
  background-color: #ffffff;
  min-height: 1000px;
  font-family: "calibri";
  background: -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
  background: url(fondo.png),
    linear-gradient(to left, #21f391, #009688);
}

/*"Listado de personas*/
h1 {
  color: #049c44;
  padding: 10px;
}

/*Contenedor de lista y botón*/
.contenedor {
  max-width: 400px;
  margin: 50px auto;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

/*Contiene header*/
#cabecero {
  height: 150px;
  background-color: #cefce1;
  text-align: center;
}

/*Contiene lista con nombres*/
.elemento {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.elemento:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
}

/*Contiene párrafo de bienvenida*/
p {
  margin-top: -20px;
  padding: 0px;
  font-size: 17px;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}

/*Formulario*/
form {
  margin-top: 10px;
  text-align: center;
  margin-left: 20px;
}

/*Botón +*/
button {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(1, 139, 93);
  color: rgb(255, 255, 255);
  font-size: 30px;
}

/*Inputs del form*/
input[type="text"] {
  margin-bottom: 20px;
  text-align: center;
  height: 35px;
  top: 10px;
  border-radius: 5px;
  border-width: 3px; 
  border-color: aquamarine;
  font-family: 'calibri';
  font-weight: normal;
  font-size: 20px;
  width: 40%;
}

/*Onfocus de inputs*/
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(90, 92, 91);
}

::placeholder {
  color: rgb(110, 106, 106);
  opacity: 1;
}